<div class="row mt-5">
  <div class="col-md-6">
    <h5>{{ today | date: "short" }}</h5>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <label for="loveDogs" class="font-weight-bold">Do you like dogs ?</label>
    <select id="loveDogs" class="form-control">
      <option value="true">{{ true | yesNo }}</option>
      <option value="false">{{ false | yesNo }}</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <label for="name" class="font-weight-bold">Name</label>
    <input
      type="text"
      id="name"
      class="form-control"
      [(ngModel)]="dogBreedSurvey.name"
    />
  </div>
  <div class="col-md-6">
    <label for="cryptos" class="font-weight-bold">Favourite Dog Breeds</label>
    <select
      id="cryptos"
      class="form-control"
      [(ngModel)]="dogBreedSurvey.favouriteDog"
    >
      <option value=""></option>
      <option [value]="dog" *ngFor="let dog of dogBreeds">{{ dog }}</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <label for="comments" class="font-weight-bold">Comments</label>
    <textarea
      id="comments"
      cols="30"
      rows="10"
      class="form-control"
      [(ngModel)]="dogBreedSurvey.comments"
    ></textarea>
  </div>
</div>
<div class="row mt-2">
  <div class="col-md-12">
    <button
      class="btn btn-outline-success btn-block"
      (click)="sendForm()"
      [routerLink]="'submitted'"
    >
      Send Form
    </button>
  </div>
</div>
